* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.span-3 {
  grid-row: span 3;
}

/* ========== section ========== */
section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;

  padding-block: 4rem;
  background: #ffffff;
}

/* ========== article ========== */
article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 1.5rem;
}

.content {
  background-image: url(images/IMG_6951_low.webp);
  background-size: cover;
}

.content > h2 {
  margin: 1rem;
}

.content > p {
  margin: 1rem;
  color: #000000;
}

p + figure {
  /*Ved siden af */
  margin-top: 1rem;
}

/* ========== gallery ========== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
  align-self: stretch;
}
